{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}markit/jquery.markitup.js"></script>
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}markit/sets/rest/set.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ request.script_root }}{{ MEDIA_URL }}markit/skins/simple/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ request.script_root }}{{ MEDIA_URL }}markit/sets/rest/style.css" />

    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}scripts/editor.js"></script>

<script type="text/javascript">
    var js_params = {{ js_params|tojson|safe }};
	$(function() {
	    if (js_params.theme) {
	        $('.themes input[value='+ js_params.theme + ']')[0].checked = true;
	    }
	    if (js_params.rst) {
	        $('#editor').val(js_params.rst);
	    }
	});

</script>

{% endblock %}


{% block editor_nav %}
<ul>
    <li><a href="#" id="as_pdf" class="jslink">Export to PDF</a></li>
    <li>{% if document %}
    	<a href="#" id="save" class="jslink">Save</a>
    {% else %}
    	<a href="#" id="save_link" class="jslink">Save with unique link</a>
    {% endif %}
    </li>
    <li>
    {% if document %}
    <a href="#" id="del_link" class="jslink">
    {% else %}&nbsp;&nbsp;{% endif %}Delete
    {% if document %}</a>{% endif %}
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="b_page_cont">
    <div class="b_page_files">
        <h2 id='new_progects' class="projects">Projects</h2>
        <button id="btn-new-project">New Project</button>
        <input id="projectname" type="" name="projectname" placeholder="Progect Name" style="display: none;">
        <button id="create-new-project" style="display: none" >Create</button>
        <ul id="projects-list" class="projects-list"></ul>
        <button id="btn-new_file">New File</button>
        <h4 id="new-file-title" style="display: none">Nuovo file</h4>
        <input id="filename" name="name" placeholder="filename" style="display: none;">
        <button id="save_file">Save to file</button>
    </div>
    <div class="b_page_left">
        <textarea id="editor" rows="15">{{ rst }}</textarea>
    </div>
    <div class="b_page_right">
        <div class="right_nav">
            <div class="themes left" id="themes">Theme:
                <input id="t_basic" type="radio" value="basic" checked="checked" name="style"/><label for="t_basic">Basic</label>
                <input id="t_nature" type="radio" value="nature" name="style"/><label for="t_nature">Nature</label>
            </div>
            <div class="actions right">
                <button id="as_pdf" class="jslink">Download as PDF</button>
                <button id="save_link">Save with unique link</button>
                {% if document %}
                <button id="del_link">Delete unique link</button>
                {% endif %}
            </div>
        </div>


	<iframe src="{{ request.script_root }}/srv/rst2html/" id="browse"></iframe>
    </div>
</div>

<form id="save_as_pdf" method="POST" action="{{ request.script_root }}/srv/rst2pdf/">
    <input type="hidden" id="as_pdf_rst" name="rst" />
    <input type="hidden" id="as_pdf_theme" name="theme"/>
</form>

{% endblock %}
