
.b_page_cont {
    position: relative;
}

.b_page_left, .b_page_files  {
    position: absolute;
}

.b_page_files {
    display: block;
    width: 15%;
}

.b_page_left {
    margin-left: 16%;
    display: block;
    width: 41%;
}

.b_page_center {
    position: absolute;
    top: 0;
    width: 100%;
}

.b_page_right {
    margin-left: 59%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.themes {
    display: inline-block;
}

#editor {
    min-height: 75px;
}

#browse {
	border: 1px solid #CCC;
	position: relative;
	margin-top: 1px;
	height: 330px;

	width: 100%;
	background-color: white;
}

#editor {
    width: 100%;
    resize: vertical;
}


.b_page_files h2 {
    margin-top: 1em;
    margin-bottom: 0;
}

.b_page_files h3 {
    margin-top: 0.6em;
    margin-bottom: 0.2em;
}

.b_page_files h4 {
    margin-top: 1em;
    margin-bottom: 0em;
}

.b_page_files ul {
    padding: 0;
    margin: 0
}

.b_page_files li {
    padding: 0;
    margin: 0
}

.projects-list > li > a {
    font-size: 1.3em;
}

.projects-list > li > ul {
    margin-left: 1em;
}

.projects-list a {
    text-decoration: none;
    color: #6f6658;
}

.projects-list > .selected > a {
    color: #040408;
}

.projects-list > li .selected  {
    list-style: disc;
}

.projects-list > li .selected > a {
    color: #040408;
}
